@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Overpass', sans-serif;
    margin:0 auto;
    background-color:hsl(216, 12%, 8%);
}
.rating{
    width:375px;
    height: 350px;
    border-radius:20px;
    border:0;
    background-color: hsl(213, 19%, 18%);
    padding:20px;
}
.rating h1{
    border-radius:50%;
    width:40px;
    height:40px;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    background-color: hsl(216, 12%, 54%);
    text-align:center;
    margin:15px 10px;
}
.rating h2{
    color:#fff;
    margin:10px;
}
.rating p{
    color:hsl(217, 12%, 63%);
    margin-left:10px;
}
.nums{
    display:flex;
    justify-content:space-between;
    align-items: center;
   margin:20px;
}
.num{
   
    padding:10px;
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
    width:40px;
    height:40px;
    text-align: center;
}
.num:hover{
    background-color:hsl(25, 97%, 53%);
    color:#fff;
    cursor:pointer;
}
.num.active{
    background-color:hsl(217, 12%, 63%);
    color:#fff;
    cursor:pointer;
}
.btn{
    color:#fff;
    background-color: hsl(25, 97%, 53%);
    width:280px;
    text-align:center;
    border-radius:50px;
    border:0;
    padding:10px 40px;
    margin:auto 25px;
    font-weight: bold;
}
.btn:hover{
    background-color: #fff;
    color:hsl(25, 97%, 53%);
    cursor:pointer;
}
.tq{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.tq img{
    width:150px;
    height:100px;
}
.tq p:nth-of-type(1){
    color: hsl(25, 97%, 53%);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    background-color:hsl(216, 12%, 54%);
    width:280px;
    text-align:center;
    border-radius:50px;
    border:0;
    padding:10px 40px;
    margin:auto 25px;
    font-weight: bold;
    margin:20px;
}
.tq h3{
    color:#fff;
    margin:10px;
}
.tq p:nth-of-type(2){
    width:280px;
    text-align:center;
    border-radius:50px;
    border:0;
    color:#fff;
    margin:10px;
}