@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color:hsl(218, 23%, 16%);
    overflow:hidden;
    height:100vh;
}
/* .parent{
    background-color:hsl(217, 19%, 38%);
    width:75%;
    height:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10vh auto;
} */
.container{
    width:100%;
    max-width:400px;
    /* max-height:250px; */
    background-color:hsl(217, 19%, 24%);
    margin:25vh auto;
    border-radius:20px;
    text-align:center;
    position:relative;
    line-height:2rem;
    padding:30px;
}
h6{
    color:hsl(150, 100%, 66%);
    letter-spacing:2px;
    text-transform:uppercase;
}
h3{
    color:hsl(193, 38%, 86%)
}
#dice{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,50%);
    background-color:hsl(150, 100%, 66%);
    border-radius:50%;
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#dice img{
    width:20px;
    height:20px;
}
#dice:hover{
    box-shadow: 0 0px 15px hsl(150, 100%, 66%);
    cursor:pointer;
}
#divider{
    width:100%;
    /* color:#fff; */
}
@media (max-width:375px){
    .container{
        width:300px;
        max-height:300px;
        /* height:300px; */
    }
}
